{{ content|raw }}
<link href="http://parsedown.org/prism.css" rel="stylesheet" type="text/css" />
<script src="http://parsedown.org/prism.js" type="text/javascript"></script>

<h1>Meta data</h1>
<table>
    <tr>
        <td>Author name</td>
        <td>{{ source.metaData.author.name }}</td>
    </tr>
    <tr>
        <td>Author email</td>
        <td>{{ source.metaData.author.email }}</td>
    </tr>
    <tr>
        <td>Commit reference</td>
        <td>{{ source.metaData.version }}</td>
    </tr>
    <tr>
        <td>Short commit reference</td>
        <td>{{ source.metaData.version.short }}</td>
    </tr>
    <tr>
        <td>Date created</td>
        <td>{{ source.metaData.dateCreated|date("Y-m-d H:i") }}</td>
    </tr>
    <tr>
        <td>Date published</td>
        <td>{{ output.metaData.datePublished|date("Y-m-d H:i") }}</td>
    </tr>
    <tr>
        <td>Date updated</td>
        <td>{{ source.metaData.dateUpdated|date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
        <td>Date generated</td>
        <td>{{ output.metaData.dateGenerated|date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
        <td>Number of revisions</td>
        <td>{{ source.metaData.numRevisions }}</td>
    </tr>
    <tr>
        <td>Path to source</td>
        <td>{{ source.path }}</td>
    </tr>
    <tr>
        <td>Path to output</td>
        <td>{{ output.path }}</td>
    </tr>
    <tr>
        <td>Path to template</td>
        <td>{{ template.path }}</td>
    </tr>
</table>
