{{ content|raw }}
<link href="prism.css" rel="stylesheet" type="text/css" />
<script src="prism.js" type="text/javascript"></script>
<style>
    body {
        font-family: monospace;
    }
</style>

<h1>Meta data</h1>
<table>
    <tr>
        <td>Author name</td>
        <td>{{ source.metaData.author.name }}</td>
    </tr>
    <tr>
        <td>Author email</td>
        <td>{# source.metaData.author.email #}preacher@johmanx.com</td>
    </tr>
    <tr>
        <td>Commit reference</td>
        <td>
            <a
                href="https://github.com/ZeroConfig/Preacher/commit/{{ source.metaData.version }}"
                target="_blank">
                {{ source.metaData.version }}
            </a>
        </td>
    </tr>
    <tr>
        <td>Short commit reference</td>
        <td>
            <a
                href="https://github.com/ZeroConfig/Preacher/commit/{{ source.metaData.version.short }}"
                target="_blank">
                {{ source.metaData.version.short }}
            </a>
        </td>
    </tr>
    <tr>
        <td>Date created</td>
        <td>{{ source.metaData.dateCreated|date("Y-m-d H:i") }}</td>
    </tr>
    <tr>
        <td>Date published</td>
        <td>{{ output.metaData.datePublished|date("Y-m-d H:i") }}</td>
    </tr>
    <tr>
        <td>Date updated</td>
        <td>{{ source.metaData.dateUpdated|date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
        <td>Date generated</td>
        <td>{{ output.metaData.dateGenerated|date("Y-m-d H:i:s") }}</td>
    </tr>
    <tr>
        <td>Number of revisions</td>
        <td>
            <a
                href="https://github.com/ZeroConfig/Preacher/commits/master/{{ source.path }}"
                target="_blank">
                {{ source.metaData.numRevisions }}
            </a>
        </td>
    </tr>
    <tr>
        <td>BaseName</td>
        <td>
            <a href="{{ source.path }}" target="_blank">{{ source.baseName }}</a>
        </td>
    </tr>
    <tr>
        <td>Path to source</td>
        <td>
            <a href="{{ source.path }}" target="_blank">{{ source.path }}</a>
        </td>
    </tr>
    <tr>
        <td>Path to output</td>
        <td>
            <a href="{{ output.path }}" target="_blank">{{ output.path }}</a>
        </td>
    </tr>
    <tr>
        <td>Path to template</td>
        <td>
            <a href="{{ template.path }}" target="_blank">{{ template.path }}</a>
        </td>
    </tr>
</table>
